# Frontend files
/frontend/node_modules
/frontend/dist
/frontend/.angular/cache
/frontend/coverage
/frontend/.sass-cache
/frontend/tmp
/frontend/out-tsc

# logs
/frontend/npm-debug.log*
/frontend/yarn-error.log*

# Python cache
__pycache__/
*.py[cod]
*.pyo

# virtual env
venv/
.env/
.env.*

# Database files
/backend/data/wikidata.db

# temporary files
*.csv~
*.tmp

#IDE
.idea/
*.sublime-workspace
*.sublime-project

# OS Files
.DS_Store
Thumbs.db

# MISC
coverage/
*.log
*.lock

KG_papers_tree_layout/*