# Frontend files
/frontend/node_modules
/frontend/dist
/frontend/.angular/cache
/frontend/coverage
/frontend/.sass-cache
/frontend/tmp
/frontend/out-tsc

# logs
/frontend/npm-debug.log*
/frontend/yarn-error.log*

# Python cache
__pycache__/
*.py[cod]
*.pyo

# virtual env
venv/
.env/
.env.*

# Database files
/backend/data/wikidata.db

# temporary files
*.csv~
*.tmp

#IDE
.idea/
*.sublime-workspace
*.sublime-project

# OS Files
.DS_Store
Thumbs.db

# MISC
coverage/
*.log
*.lock

KG_papers_tree_layout/*

# Cache Wikidata
triplet_cache.json
label_cache.json
entity_cache.json
wikipedia_qid_cache.json
build_cache.py
prefill_cache.py
prefill_cache_rest.py
find_qids.py
find_qids2.py
find_qids3.py
find_qids4.py
check_entities.py
check_entities2.py
check_imagenet.py
check_search.py
build_cache.py
