
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;

  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  font-family: 'Inter', Arial, sans-serif;
}


app-root {
  display: block;
  height: 100%;
  width: 100%;
}
