<div class="page">
  <div class="container">
    <h1 class="title">Query Generated</h1>
    <div class="card">
      <h2 class="section-title">Title</h2>
      <p class="value">{{ title() }}</p>
    </div>
    <div class="card center">
      <h2 class="section-title">Graph</h2>
      <img class="graph-img" [src]="graph()" />
      <div class="btn-row">
        <a class="btn" [href]="graph()" download>Download PNG</a>
        <a class="btn" [href]="pdf()" download>Download PDF</a>
      </div>
    </div>
    <div class="card">
      <h2 class="section-title">Triples</h2>
      <div class="triples">
        <div *ngFor="let entity of groupedTriples() | keyvalue">
          <h3 class="entity-title">{{ entity.key }}</h3>

          <div class="triple-list">
            <p *ngFor="let t of entity.value">
              {{ t.triple }}
            </p>
          </div>
        </div>
      </div>
      <button class="btn" (click)="downloadTriples()">
        Download TXT
      </button>
    </div>
    <div class="footer">
      <button class="btn-next" (click)="next()">Next</button>
    </div>
  </div>
</div>